---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ayush">
    <main class="flex flex-col font-mono w-screen h-screen justify-center items-center">
        <div class="flex flex-row items-center">
            <h1 class="flex text-6xl tracking-widest font-light border-2 p-5 text-gray-800 border-gray-300">ayush.</h1>
            <h1 class="flex border-2 p-5 text-gray-800 m-3 border-gray-300 min-h-[100px] items-center">lucknow, india</h1>
        </div>
    </main>
</Layout>
