@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 14px;
  }

  /* Resizer is I guess a reserved classname that tanstack-table use for resizing. I'm yet to confirm this, however it works. */
  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 80%;
    place-self: center; /* Bug: Make this at center since height is 80%. I can't think of a way right now since it's position is absolute. */
    width: 5px;
    background: #cad37e;
    cursor: col-resize;
    user-select: none;
    touch-action: none;

    border-radius: 12px;
  }

  .resizer.isResizing {
    background: #3b4200;
    opacity: 0.5;
    border-radius: 12px;
    transition: opacity 0.2s ease;
  }

  @media (hover: hover) {
    .resizer {
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    *:hover > .resizer {
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }
}
